@import "vars";
@import "libs";
@import "fonts";
@import "global";

.header {
  position: relative;
  height: 100vh;
}
.header__slider {
  &-item {
    height: 100vh;
    background-image: url(../img/header-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
  }
}

.slider-item__info {
  position: absolute;
  right: 80px;
  bottom: 115px;
  text-align: right;
  &-suptitle {
    margin-bottom: 5px;
    right: -7px;
  }
  &-suptext {
    margin-bottom: 8px;
    right: -7px;
  }
  &-title {
    font-size: 80px;
    line-height: 86px;
    font-weight: 800;
    margin-bottom: 48px;
  }
  &-text {
    font-weight: 800;
    font-size: 40px;
    line-height: 46px;
    margin-bottom: 20px;
  }
}

.slider-arrows {
  position: absolute;
  top: 40px;
  right: 80px;
  cursor: pointer;
  z-index: 4;
  &__left {
    right: 125px;
  }
}

.slider-dotshead {
  position: absolute;
  right: 50px;
  bottom: 36px;
  max-width: 920px;
  width: 100%;
  .slick-current {
    .dots-box {
      border-top-color: $green;
    }
  }
}

.dots-box {
  width: 200px;
  display: flex;
  justify-content: space-between;
  height: 28px;
  align-items: center;
  border-top: 4px solid #fff;
  padding-top: 6px;
  &__number {
    font-weight: 800;
    font-size: 24px;
    line-height: 34px;
  }
  &__name {
    font-weight: 300;
    line-height: 19px;
    text-transform: capitalize;
  }
}

.header__aside {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  border-right: 1px solid rgba(#fff, 0.25);
  height: 100vh;
  width: 168px;
  text-align: center;
}
.header__title {
  font-weight: 800;
  font-size: 200px;
  line-height: 156px;

  opacity: 0.07;
  max-width: 467px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 4;
}

.logo {
  max-height: 180px;
  background-color: $green;
  img {
    margin-top: 20px;
  }
}
.menu {
  margin-top: 165px;
  &__list {
    // text-align: center;
    a {
      span {
        display: block;
        font-weight: 500;
        font-size: 12px;
        // line-height: 14px;
        text-align: center;
        letter-spacing: 3px;
        margin-top: -3px;
        margin-bottom: 22px;
        text-transform: capitalize;
      }
    }
  }
}

.header__date {
  font-weight: 800;
  font-size: 72px;
  line-height: 64px;
  span {
    padding-top: 15px;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 1.4px;
    margin-bottom: 30px;
    display: block;
  }
}

.header__serch {
  padding-top: 15px;
  padding-bottom: 35px;
}

.header__location {
  display: inline-block;
  font-weight: 300;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 1.05px;
  position: relative;
  padding-left: 19px;
  text-transform: capitalize;
  &::before {
    content: "";
    position: absolute;
    width: 11px;
    height: 13px;
    background-image: url(../img/marker.svg);
    left: 0;
    top: 0;
  }
}

.header__map {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 3;
}

.header__arrows {
  position: absolute;
  bottom: 30px;
  left: 210px;
  z-index: 3;
}

.line-animation {
  stroke-dashoffset: 600;
  stroke-dasharray: 600;
  animation: animdash 5s infinite 6s;
}

@keyframes animdash {
  to {
    stroke-dashoffset: 0;
  }
}

// .surf-slider__wrap{
//   position: relative;
// }
.surf {
  background-image: url(../img/surf-bd.png);
  background-position: right 200px;
  background-repeat: no-repeat;
  background-size: auto;
  &-slider {
    // position: relative;
    display: inline-block;
    // padding: 0 0 210px;
    &__wrap {
      padding-top: 110px;
      .slick-slide:nth-child(4n + 1) {
        .surf-box {
          margin-top: 32px;
        }
      }
      .slick-slide:nth-child(4n + 3) {
        .surf-box {
          margin-top: 89px;
        }
      }
      .slick-current {
        .surf-box__inner {
          background-color: rgba(#1c2121, 0.3);
          &-btn {
            display: block;
          }
        }
      }
    }
  }
  &-box {
    &__inner {
      min-height: 750px;
      background-color: rgba(#1c2121, 0.85);
      position: relative;
      transition: all 0.5s;
      &:hover {
        background-color: rgba(#1c2121, 0.5);
        .surf-box__inner-btn {
          display: block;
        }
      }

      &-title {
        padding: 72px 0 0 40px;

        font-weight: 800;
        font-size: 40px;
        line-height: 36px;
      }

      &-location {
        position: absolute;
        bottom: 80px;
        left: 40px;
        font-weight: 300;
        font-size: 18px;
        line-height: 22px;
        letter-spacing: 8px;
        transform: rotate(-90deg);
        width: 0;
        height: 0;
        white-space: nowrap;
        span {
          font-weight: 100;
        }
      }
    }
  }
  .slider-arrows {
    top: 50px;
    opacity: 0.25;
  }
  .surf-box__inner-btn {
    position: absolute;
    bottom: 0;
    text-align: center;
    left: 0;
    right: 0;
    display: none;
  }
}

.surf-box {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 750px;
}

.slider-map {
  max-width: 1200px;
  min-height: 635px;
  background-image: url(../img/world-map-dots.png);
  background-size: cover;
  background-position: center;
  margin: 0 auto;
  .slick-list {
    min-height: inherit;
  }
  .slick-current {
    .slider-dots__content {
      display: block;
    }
    .slider-dots__circle {
      position: relative;
      &::after {
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        border-bottom: 20px solid $green;
        border-left: 12px solid transparent;
        border-right: 12px solid transparent;
        bottom: 15px;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
      }
    }
  }
}

.slider-dots {
  position: relative;
}

.slider-dots__circle {
  width: 24px;
  height: 24px;
  background-color: $green;
  border-radius: 50%;
  position: relative;
}

.slider-dots__content {
  display: none;
  min-width: 283px;
  min-height: 216px;
  background-color: rgba(#0f1010, 0.7);
  border-radius: 6px;
  padding: 32px;
  position: absolute;
  top: -260px;
  left: -108px;

  &-title {
    // font-family: Fira Sans;
    // font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 26px;
    // padding-bottom: 15px;
    margin-bottom: 19px;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      width: 80px;
      height: 1px;
      background-color: $green;
      top: 33px;
      left: -2px;
    }
  }
  &-subtitle {
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    text-transform: initial;
    margin-bottom: 30px;
  }
  &-link img {
    width: 17px;
    height: 14px;
    margin-top: 6px;
  }

  &-item {
    & img {
      margin: auto;
    }
  }

  &-number {
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 23px;
    text-align: center;
    margin-top: 7px;
    margin-bottom: 10px;
  }
  &-name {
    font-style: normal;
    font-weight: 300;
    font-size: 10px;
    line-height: 12px;
  }
  &-row {
    display: flex;
    justify-content: space-between;
  }
}

.slider-dots--1 {
  top: 335px;
  left: 0;
  .slider-dots__content {
    left: 0;
  }
}
.slider-dots--2 {
  top: 280px;
  left: -10px;
  .slider-dots__circle {
    position: relative;
    &::before {
      content: "";
      position: absolute;
      background-image: url(../img/mini-marker.png);
      width: 14px;
      height: 17px;
      background-size: cover;
      right: -20px;
      top: -20px;
    }
  }
}
.slider-dots--3 {
  top: 317px;
  left: 30px;
}
.slider-dots--4 {
  top: 500px;
  left: -40px;
}
.slider-dots--5 {
  top: 225px;
  left: -70px;
  .slider-dots__content {
    top: -225px;
    padding-top: 10px;
    padding-bottom: 10px;
    min-height: 200px;
  }
}
.slider-dots--6 {
  top: 545px;
  left: -110px;
}
.slider-dots--7 {
  top: 385px;
  left: -110px;
}
.slider-dots--8 {
  top: 505px;
  left: 40px;
  .slider-dots__content {
    left: -180px;
  }
}

.travel {
  background-image: url(../img/travel-glass.png);
  background-position: bottom right;
  background-repeat: no-repeat;
}

.travel__slider {
  &__head {
    background-repeat: no-repeat;
    background-position: top left;
    min-height: 780px;
  }
  &__descr{
    img{
      padding-left: 24px;
    }
  }
  &__subtitle {
    padding-top: 132px;
  }
}

@import "media";
